h1{
	font-size:18px;
}
h2{
	font-size:18px;
}
span{
	color: #7A0099;
}
.pgreen{
	color:	#227700;
}
b{
	color:black;
}
div {
	background-color: #DDDDDD;
}
.dgreen{
	background-color: #CCFFCC;
}
a{
	color: #7A0099;
}
.ptable1 { 
  line-height:9.5px; 
  text-align:left;
}
.ptable2 { 
  line-height:9.5px; 
  text-align:right;
}
.ptable3 { 
  line-height:9.5px; 
  text-align:center;
}
.ptable4 { 
  line-height:9.5px; 
  text-align:justify;
}
.ptable5 { 
  line-height:9.5px; 
  text-decoration:underline; 
}
.ptable6 { 
  line-height:9.5px; 
  text-decoration:overline; 
}
.ptable7 { 
  line-height:9.5px; 
  text-decoration:line-through; 
}

.ublue {
	color: blue;
} 
.ptable1 { 
  line-height:9.5px; 
  text-align:left;
}
.ptable2 { 
  line-height:9.5px; 
  text-align:right;
}
.ptable3 { 
  line-height:9.5px; 
  text-align:center;
}
.ptable4 { 
  line-height:9.5px; 
  text-align:justify;
}
.ptable5 { 
  line-height:9.5px; 
  text-decoration:underline; 
}
.ptable6 { 
  line-height:9.5px; 
  text-decoration:overline; 
}
.ptable7 { 
  line-height:9.5px; 
  text-decoration:line-through; 
}
.dgreen{
	background-color: #CCFFCC;
}
.right{
	direction:rtl;
}
.pleft{
	text-align:left;
}
.pright{
	text-align:right;
}
